In [1]:
# %pip install snowflake-connector-python
# %pip install pyarrow==8.0.0
# %pip install pandas
# %pip install confluent-kafka
# %pip install python-dotenv

In [2]:
import re
import warnings

import pandas as pd
import snowflake.connector

from snowflake_helpers import *
from transformation_helpers import *

from pandas.core.common import SettingWithCopyWarning

warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=SyntaxWarning)

In [3]:
conn = connect_to_snowflake()
cs = conn.cursor()

Connected to Snowflake with user: admin

In [4]:
create_production_schema(cs)
use_production_schema(cs)

Schema: yusra_stories_production created.

In [5]:
df = get_logs_table_as_df(cs)

Logs table from staging schema loaded into dataframe.

In [6]:
formatted_df = get_joined_formatted_df(df)

In [7]:
user_df = get_users_df(formatted_df)

Users dataframe ready to be added to snowflake production schema.

## RIDE DF

In [8]:
staging_rides_df = get_staging_rides_df(formatted_df)

In [9]:
rides_df = get_final_rides_df(staging_rides_df)

Rides dataframe ready to be added to snowflake production schema.

In [10]:
create_users_table(cs)
write_pandas_to_users_table(conn, user_df)

Empty users table created.
Dataframe written to production schema table: USERS

In [11]:
rides_df.dtypes

user_id                            Int64
start_time                datetime64[ns]
end_time                  datetime64[ns]
total_duration                    object
max_heart_rate_bpm                 int64
min_heart_rate_bpm                 int64
avg_heart_rate_bpm                 int64
avg_resistance                     int64
avg_rpm                            int64
total_power_kilojoules           float64
dtype: object

In [12]:
create_rides_table(cs)

Empty rides table created.

In [13]:
rides_df

,user_id,start_time,end_time,total_duration,max_heart_rate_bpm,min_heart_rate_bpm,avg_heart_rate_bpm,avg_resistance,avg_rpm,total_power_kilojoules
ride_id,,,,,,,,,,
1,4612,2022-10-06 15:49:21,2022-10-06 15:58:00,0:08:37,175,70,126,42,39,13.51
2,4614,2022-10-06 15:58:01,2022-10-06 16:06:42,0:08:40,139,62,91,41,52,13.10
3,4614,2022-10-06 16:06:44,2022-10-06 16:15:25,0:08:40,180,83,136,41,40,14.53
4,4614,2022-10-06 16:15:27,2022-10-06 16:24:07,0:08:39,134,65,100,41,45,11.08
5,4614,2022-10-06 16:24:08,2022-10-06 16:32:50,0:08:40,166,79,121,41,43,8.76
6,4614,2022-10-06 16:32:51,2022-10-06 16:40:55,0:08:03,165,82,133,42,42,13.56
7,4614,2022-10-06 16:40:57,2022-10-06 16:49:34,0:08:36,171,61,125,41,43,10.42
8,4614,2022-10-06 16:49:35,2022-10-06 16:58:17,0:08:40,144,78,104,41,43,12.93
9,4616,2022-10-06 16:58:18,2022-10-06 17:06:58,0:08:39,142,82,113,40,45,12.42
10,4616,2022-10-06 17:07:00,2022-10-06 17:15:41,0:08:40,165,66,115,40,42,10.27
11,4616,2022-10-06 17:15:43,2022-10-06 17:24:24,0:08:40,117,53,85,40,41,8.85
12,4617,2022-10-06 17:24:25,2022-10-06 17:33:06,0:08:39,134,83,106,39,44,10.49
13,4617,2022-10-06 17:33:07,2022-10-06 17:41:48,0:08:40,155,75,110,39,48,10.58
14,4617,2022-10-06 17:41:50,2022-10-06 17:50:31,0:08:40,119,74,94,39,38,9.29
15,4617,2022-10-06 17:50:32,2022-10-06 17:59:14,0:08:40,151,80,110,39,51,9.95
16,4617,2022-10-06 17:59:15,2022-10-06 18:07:56,0:08:40,171,76,103,39,50,9.30
17,4617,2022-10-06 18:07:58,2022-10-06 18:16:39,0:08:40,128,76,94,39,41,6.66
18,4617,2022-10-06 18:16:41,2022-10-06 18:25:20,0:08:38,148,74,127,39,47,10.12
19,4619,2022-10-06 18:25:21,2022-10-06 18:34:01,0:08:38,162,60,109,39,49,12.67
20,4619,2022-10-06 18:34:02,2022-10-06 18:42:42,0:08:39,164,78,117,39,52,12.05
21,4619,2022-10-06 18:42:44,2022-10-06 18:51:25,0:08:40,146,71,107,39,51,13.19
22,4621,2022-10-06 18:51:26,2022-10-06 19:00:06,0:08:38,165,62,91,41,39,10.62
23,4621,2022-10-06 19:00:07,2022-10-06 19:08:48,0:08:40,189,43,113,28,45,13.06
24,4621,2022-10-06 19:08:50,2022-10-06 19:17:31,0:08:40,168,68,105,41,45,15.70
25,4621,2022-10-06 19:17:33,2022-10-06 19:26:14,0:08:40,188,79,141,41,52,14.70
26,4621,2022-10-06 19:26:15,2022-10-06 19:34:57,0:08:40,165,66,139,41,44,14.33
27,4621,2022-10-06 19:34:58,2022-10-06 19:43:39,0:08:40,162,76,114,41,47,9.55
28,4621,2022-10-06 19:43:41,2022-10-06 19:52:22,0:08:40,160,80,122,42,45,12.94
29,4621,2022-10-06 19:52:23,2022-10-06 20:01:05,0:08:40,158,77,133,41,42,13.92
30,4621,2022-10-06 20:01:06,2022-10-06 20:09:40,0:08:33,135,74,98,42,45,9.24
31,4622,2022-10-06 20:09:42,2022-10-06 20:18:23,0:08:40,132,81,100,42,40,7.96
32,4622,2022-10-06 20:18:25,2022-10-06 20:27:05,0:08:39,149,75,100,42,40,12.86
33,4622,2022-10-06 20:27:06,2022-10-06 20:33:02,0:05:55,147,78,102,47,42,11.25
34,4622,2022-10-06 20:33:04,2022-10-06 20:41:43,0:08:38,154,70,112,42,47,12.13
35,4623,2022-10-06 20:41:45,2022-10-06 20:50:24,0:08:38,97,50,64,41,47,16.84
36,4623,2022-10-06 20:50:25,2022-10-06 20:59:06,0:08:40,167,67,104,41,51,17.52
37,4623,2022-10-06 20:59:08,2022-10-06 21:07:49,0:08:40,145,61,104,41,44,9.06
38,4623,2022-10-06 21:07:51,2022-10-06 21:16:30,0:08:38,151,74,102,42,51,13.06
39,4623,2022-10-06 21:16:31,2022-10-06 21:23:34,0:07:02,165,82,133,71,43,15.88
40,4623,2022-10-06 21:23:36,2022-10-06 21:32:17,0:08:40,153,61,104,42,49,16.23
41,4623,2022-10-06 21:32:19,2022-10-06 21:41:00,0:08:40,152,74,110,42,49,10.53
42,4623,2022-10-06 21:41:01,2022-10-06 21:49:39,0:08:36,155,74,116,41,52,12.83
43,4623,2022-10-06 21:49:40,2022-10-06 21:58:17,0:08:36,151,76,113,42,46,11.29
44,4624,2022-10-06 21:58:19,2022-10-06 22:06:58,0:08:38,155,83,122,38,48,11.90
45,4625,2022-10-06 22:06:59,2022-10-06 22:15:40,0:08:39,140,73,90,39,43,8.16
46,4625,2022-10-06 22:15:41,2022-10-06 22:24:22,0:08:40,160,82,111,39,49,12.46
47,4625,2022-10-06 22:24:24,2022-10-06 22:33:05,0:08:40,145,69,87,39,45,11.66
48,4625,2022-10-06 22:33:07,2022-10-06 22:41:48,0:08:40,176,77,124,39,44,8.38

In [14]:
rides_df.dtypes

user_id                            Int64
start_time                datetime64[ns]
end_time                  datetime64[ns]
total_duration                    object
max_heart_rate_bpm                 int64
min_heart_rate_bpm                 int64
avg_heart_rate_bpm                 int64
avg_resistance                     int64
avg_rpm                            int64
total_power_kilojoules           float64
dtype: object

In [15]:
write_pandas_to_rides_table(conn, rides_df)

Dataframe written to production schema table: RIDES