In [1]:
# %pip install snowflake-connector-python
# %pip install pyarrow==8.0.0
# %pip install pandas
# %pip install confluent-kafka
# %pip install python-dotenv

In [2]:
import snowflake.connector
from snowflake_helpers import *
import re
import pandas as pd
from transformation_helpers import *

In [3]:
conn = connect_to_snowflake()
cs = conn.cursor()

Connected to Snowflake with user: admin

In [4]:
create_production_schema(cs)
use_production_schema(cs)

Schema: yusra_stories_production created.

In [5]:
df = cs.execute('SELECT * FROM yusra_stories_staging.logs').fetch_pandas_all()
df

       log_id                                                log
0           1         ride 1 --------- beginning of a new ride\n
1           2  ride 1 2022-10-06 15:49:21.453226 mendoza v9: ...
2           3  ride 1 2022-10-06 15:49:21.953902 mendoza v9: ...
3           4  ride 1 2022-10-06 15:49:22.454586 mendoza v9: ...
4           5  ride 1 2022-10-06 15:49:22.955260 mendoza v9: ...
...       ...                                                ...
41053   41054  ride 40 2022-10-06 21:32:15.156977 mendoza v9:...
41054   41055  ride 40 2022-10-06 21:32:15.657643 mendoza v9:...
41055   41056  ride 40 2022-10-06 21:32:16.158292 mendoza v9:...
41056   41057  ride 40 2022-10-06 21:32:16.658962 mendoza v9:...
41057   41058  ride 40 2022-10-06 21:32:17.159731 mendoza v9:...

[41058 rows x 2 columns]

In [6]:
formatted_df = get_joined_formatted_df(df)

at the start df is <class 'pandas.core.frame.DataFrame'>

/Users/harrymay/Desktop/coursework/deloton-group-project/transformation_helpers.py:89: FutureWarning: Comparison of NaT with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable.
  if birthday > today:
/Users/harrymay/Desktop/coursework/deloton-group-project/transformation_helpers.py:89: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  if birthday > today:

In [7]:
formatted_df.head(3)

,log_id,log,ride_id,is_new_ride,is_info,is_system,time,user_id,name,gender,...,address,email_address,account_created,bike_serial,original_source,duration_secs,heart_rate,resistance,rpm,power
0,1,ride 1 --------- beginning of a new ride\n,1,True,False,False,NaT,<NA>,None,None,...,None,None,NaT,None,None,NaN,<NA>,NaN,NaN,NaN
1,2,ride 1 2022-10-06 15:49:21.453226 mendoza v9: ...,1,False,False,False,2022-10-06 15:49:21.453226,<NA>,None,None,...,None,None,NaT,None,None,NaN,<NA>,NaN,NaN,NaN
2,3,ride 1 2022-10-06 15:49:21.953902 mendoza v9: ...,1,False,False,True,2022-10-06 15:49:21.953902,4612,Mrs Bethany Welch,female,...,"Flat 3,Jeremy rapid,Evanshaven,S2 9DH",mrs_b@gmail.com,2022-02-27,SN0000,direct,NaN,<NA>,NaN,NaN,NaN

In [8]:
user_df = get_users_df(formatted_df)
user_df.head()

,name,gender,date_of_birth,age,height_cm,weight_kg,address,email_address,account_created,bike_serial,original_source
user_id,,,,,,,,,,,
4612,Mrs Bethany Welch,female,1968-09-20,54.0,188.0,60.0,"Flat 3,Jeremy rapid,Evanshaven,S2 9DH",mrs_b@gmail.com,2022-02-27,SN0000,direct
4614,Jill Gill,female,1996-11-11,25.0,180.0,61.0,"Studio 4,Carly valleys,West George,RH72 6JL",j_g86@gmail.com,2022-03-02,SN0000,google ads
4616,Mr Leon Taylor,male,1966-09-29,56.0,171.0,58.0,"Studio 82,Lloyd terrace,Allenport,PL6E 1YN",mr_leon@hotmail.com,2021-12-19,SN0000,direct
4617,Mitchell Tomlinson,male,1967-05-23,55.0,151.0,36.0,"520 Amy expressway,East Richardland,BH0V 6HL",mitchell_t@gmail.com,2022-03-15,SN0000,google ads
4619,Ms Clare Douglas,female,1981-08-28,41.0,170.0,57.0,"108 Davies square,Lake Stewartberg,W04 7NG",ms.c65@gmail.com,2021-12-18,SN0000,direct

## RIDE DF

In [9]:
staging_rides_df = get_staging_rides_df(formatted_df)

/Users/harrymay/Desktop/coursework/deloton-group-project/transformation_helpers.py:354: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  staging_rides_df['total_duration'] = staging_rides_df.groupby(by=['ride_id'], dropna=False)['duration_secs'].transform('max')
/Users/harrymay/Desktop/coursework/deloton-group-project/transformation_helpers.py:355: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  staging_rides_df['total_duration'] = staging_rides_df['total_duration'].apply(lambda x: str(timedelta(seconds=x)))
/Users/harrymay/Desktop/coursework/deloton-group-project/transformation_helpers.py:364: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  staging_rides_df['total_power_kilojoules'] = staging_rides_df.groupby('ride_id', dropna=False)['power'].transform('sum')
/Users/harrymay/Desktop/coursework/deloton-group-project/transformation_helpers.py:365: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  staging_rides_df['total_power_kilojoules'] = staging_rides_df['total_power_kilojoules'].apply(lambda x: round(x/1000, 2))
/Users/harrymay/Desktop/coursework/deloton-group-project/transformation_helpers.py:373: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  staging_rides_df['max_heart_rate_bpm'] = staging_rides_df.groupby('ride_id', dropna=False)['heart_rate'].transform('max')
/Users/harrymay/Desktop/coursework/deloton-group-project/transformation_helpers.py:374: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  staging_rides_df['max_heart_rate_bpm'] = staging_rides_df['max_heart_rate_bpm'].apply(lambda x: int(x))
/Users/harrymay/Desktop/coursework/deloton-group-project/transformation_helpers.py:382: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  staging_rides_df['min_heart_rate_bpm'] = staging_rides_df.groupby('ride_id', dropna=False)['heart_rate'].transform('min')
/Users/harrymay/Desktop/coursework/deloton-group-project/transformation_helpers.py:383: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  staging_rides_df['min_heart_rate_bpm'] = staging_rides_df['min_heart_rate_bpm'].apply(lambda x: int(x))
/Users/harrymay/Desktop/coursework/deloton-group-project/transformation_helpers.py:390: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  staging_rides_df['avg_heart_rate_bpm'] = staging_rides_df.groupby('ride_id', dropna=False)['heart_rate'].transform('mean')
/Users/harrymay/Desktop/coursework/deloton-group-project/transformation_helpers.py:391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  staging_rides_df['avg_heart_rate_bpm'] = staging_rides_df['avg_heart_rate_bpm'].apply(lambda x: int(x))
/Users/harrymay/Desktop/coursework/deloton-group-project/transformation_helpers.py:399: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  staging_rides_df['avg_resistance'] = staging_rides_df.groupby('ride_id', dropna=False)['resistance'].transform('mean')
/Users/harrymay/Desktop/coursework/deloton-group-project/transformation_helpers.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  staging_rides_df['avg_resistance'] = staging_rides_df['avg_resistance'].apply(lambda x: int(x))
/Users/harrymay/Desktop/coursework/deloton-group-project/transformation_helpers.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  staging_rides_df['avg_rpm'] = staging_rides_df.groupby('ride_id', dropna=False)['rpm'].transform('mean')
/Users/harrymay/Desktop/coursework/deloton-group-project/transformation_helpers.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  staging_rides_df['avg_rpm'] = staging_rides_df['avg_rpm'].apply(lambda x: int(x))
/Users/harrymay/Desktop/coursework/deloton-group-project/transformation_helpers.py:417: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  staging_rides_df['start_time'] = staging_rides_df.groupby('ride_id', dropna=False)['time'].transform('min')
/Users/harrymay/Desktop/coursework/deloton-group-project/transformation_helpers.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  staging_rides_df['start_time'] = staging_rides_df['start_time'].apply(lambda x: x.round(freq='S'))
/Users/harrymay/Desktop/coursework/deloton-group-project/transformation_helpers.py:425: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  staging_rides_df['end_time'] = staging_rides_df.groupby('ride_id', dropna=False)['time'].transform('max')
/Users/harrymay/Desktop/coursework/deloton-group-project/transformation_helpers.py:426: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  staging_rides_df['end_time'] = staging_rides_df['end_time'].apply(lambda x: x.round(freq='S'))

In [10]:
rides_df = get_final_rides_df(staging_rides_df)
rides_df

,user_id,start_time,end_time,total_duration,max_heart_rate_bpm,min_heart_rate_bpm,avg_heart_rate_bpm,avg_resistance,avg_rpm,total_power_kilojoules
ride_id,,,,,,,,,,
1,4612,2022-10-06 15:49:21,2022-10-06 15:58:00,0:08:37,175,70,126,42,39,13.51
2,4614,2022-10-06 15:58:01,2022-10-06 16:06:42,0:08:40,139,62,91,41,52,13.10
3,4614,2022-10-06 16:06:44,2022-10-06 16:15:25,0:08:40,180,83,136,41,40,14.53
4,4614,2022-10-06 16:15:27,2022-10-06 16:24:07,0:08:39,134,65,100,41,45,11.08
5,4614,2022-10-06 16:24:08,2022-10-06 16:32:50,0:08:40,166,79,121,41,43,8.76
6,4614,2022-10-06 16:32:51,2022-10-06 16:40:55,0:08:03,165,82,133,42,42,13.56
7,4614,2022-10-06 16:40:57,2022-10-06 16:49:34,0:08:36,171,61,125,41,43,10.42
8,4614,2022-10-06 16:49:35,2022-10-06 16:58:17,0:08:40,144,78,104,41,43,12.93
9,4616,2022-10-06 16:58:18,2022-10-06 17:06:58,0:08:39,142,82,113,40,45,12.42
10,4616,2022-10-06 17:07:00,2022-10-06 17:15:41,0:08:40,165,66,115,40,42,10.27
11,4616,2022-10-06 17:15:43,2022-10-06 17:24:24,0:08:40,117,53,85,40,41,8.85
12,4617,2022-10-06 17:24:25,2022-10-06 17:33:06,0:08:39,134,83,106,39,44,10.49
13,4617,2022-10-06 17:33:07,2022-10-06 17:41:48,0:08:40,155,75,110,39,48,10.58
14,4617,2022-10-06 17:41:50,2022-10-06 17:50:31,0:08:40,119,74,94,39,38,9.29
15,4617,2022-10-06 17:50:32,2022-10-06 17:59:14,0:08:40,151,80,110,39,51,9.95
16,4617,2022-10-06 17:59:15,2022-10-06 18:07:56,0:08:40,171,76,103,39,50,9.30
17,4617,2022-10-06 18:07:58,2022-10-06 18:16:39,0:08:40,128,76,94,39,41,6.66
18,4617,2022-10-06 18:16:41,2022-10-06 18:25:20,0:08:38,148,74,127,39,47,10.12
19,4619,2022-10-06 18:25:21,2022-10-06 18:34:01,0:08:38,162,60,109,39,49,12.67
20,4619,2022-10-06 18:34:02,2022-10-06 18:42:42,0:08:39,164,78,117,39,52,12.05
21,4619,2022-10-06 18:42:44,2022-10-06 18:51:25,0:08:40,146,71,107,39,51,13.19
22,4621,2022-10-06 18:51:26,2022-10-06 19:00:06,0:08:38,165,62,91,41,39,10.62
23,4621,2022-10-06 19:00:07,2022-10-06 19:08:48,0:08:40,189,43,113,28,45,13.06
24,4621,2022-10-06 19:08:50,2022-10-06 19:17:31,0:08:40,168,68,105,41,45,15.70
25,4621,2022-10-06 19:17:33,2022-10-06 19:26:14,0:08:40,188,79,141,41,52,14.70
26,4621,2022-10-06 19:26:15,2022-10-06 19:34:57,0:08:40,165,66,139,41,44,14.33
27,4621,2022-10-06 19:34:58,2022-10-06 19:43:39,0:08:40,162,76,114,41,47,9.55
28,4621,2022-10-06 19:43:41,2022-10-06 19:52:22,0:08:40,160,80,122,42,45,12.94
29,4621,2022-10-06 19:52:23,2022-10-06 20:01:05,0:08:40,158,77,133,41,42,13.92
30,4621,2022-10-06 20:01:06,2022-10-06 20:09:40,0:08:33,135,74,98,42,45,9.24
31,4622,2022-10-06 20:09:42,2022-10-06 20:18:23,0:08:40,132,81,100,42,40,7.96
32,4622,2022-10-06 20:18:25,2022-10-06 20:27:05,0:08:39,149,75,100,42,40,12.86
33,4622,2022-10-06 20:27:06,2022-10-06 20:33:02,0:05:55,147,78,102,47,42,11.25
34,4622,2022-10-06 20:33:04,2022-10-06 20:41:43,0:08:38,154,70,112,42,47,12.13
35,4623,2022-10-06 20:41:45,2022-10-06 20:50:24,0:08:38,97,50,64,41,47,16.84
36,4623,2022-10-06 20:50:25,2022-10-06 20:59:06,0:08:40,167,67,104,41,51,17.52
37,4623,2022-10-06 20:59:08,2022-10-06 21:07:49,0:08:40,145,61,104,41,44,9.06
38,4623,2022-10-06 21:07:51,2022-10-06 21:16:30,0:08:38,151,74,102,42,51,13.06
39,4623,2022-10-06 21:16:31,2022-10-06 21:23:34,0:07:02,165,82,133,71,43,15.88
40,4623,2022-10-06 21:23:36,2022-10-06 21:32:17,0:08:40,153,61,104,42,49,16.23

## For future table insert

In [11]:
# cs.execute(f"""
#         CREATE OR REPLACE TABLE df_test_table
#         ("log" STRING,
#         "is_new_ride" BOOLEAN,
#         "is_info" BOOLEAN,
#         "is_system" BOOLEAN,
#         "date" DATETIME,
#         "heart_rate" INTEGER,
#         "resistance" INTEGER,
#         "rpm" INTEGER,
#         "power" FLOAT,
#         "user_id" STRING,
#         "name" STRING,
#         "gender" STRING,
#         "address" STRING,
#         "date_of_birth" FLOAT,
#         "email_address" STRING,
#         "height_cm" INTEGER,
#         "weight_kg" INTEGER,
#         "account_create_date" FLOAT,
#         "bike_serial" STRING,
#         "original_source" STRING
#         )
# """)

In [12]:
# write_pandas(conn, df, 'DF_TEST_TABLE')

In [13]:
# cs.execute(f'SELECT * FROM DF_TEST_TABLE WHERE "is_system" = TRUE').fetch_pandas_all()